<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Hafez Program</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Hafez Program</h1>
                <h3>Become a Hafez with Waraqa's Advanced Quran Memorization Course</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>If you wish to memorize the entire Quran from beginning to end, this is the program for you. You will gradually memorize each surah or set of verses, while also reviewing the previous surahs to maintain what you have learned. </p>
                    </div>
                    <div class="image-content">
                        <img src="/images/a man leading two kids in prayer.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Course Outline</h4>
                        <p>Here's how it works: </p>
                        <ul>
                            <li>In each class, you will begin by reciting the most recent verses that you have memorized.</li>
                            <li>Then recite the entire surah you are currently performing, or a portion of what you have memorized if the surah is particularly long.</li>
                            <li>Next, you will review a portion of your earlier memorization.</li>
                            <li>Finally, you will be instructed on the recitation of new verses to be memorized for the next class.</li>
                        </ul>
                    </div>
                    <div class="image-content">
                        <img src="/images/Quran recitation circle.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>

