<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Ijazah Program</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Ijazah Program</h1>
                <h3>Get Your Ijazah in Quran Memorization with Waraqa</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>Experience a profound spiritual journey through memorizing the Quran with proper Tajweed, both theoretically and practically. You will cover all Tajweed rules in depth from the Mutoon (old poems written by founders of Tajweed science). You will choose the Qiraah you want to learn from among the different Qiraat (styles of recitation) and we will provide an instructor who has specialized in it.
                            <b>Upon completion of this course, you will receive a license from an authorized sheikh with an unbroken chain of transmission to Prophet Mohammed (PBUH).</b>
                        </p>
                    </div>
                    <div class="image-content">
                        <img src="/images/Ijaza document.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Prerequisites</h4>
                        <ul>
                            <li>The active intention and commitment to memorize the Quran during the course.</li>
                            <li>An understanding of Tajweed rules, both what they are and how to apply them.</li>
                        </ul>
                    </div>
                    <div class="image-content">
                        <img src="/images/Ten Qiraat.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>

        <!-- Course Outline Section -->
        <section class="course-section dark-section">
            <div class="container">
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Course Outline</h4>
                        <p>You will start reciting from either Juz’ 1 to 30 or vice versa. The recitation speed varies according to your capacity and how much your recitation requires correcting. Here’s a table of Khatmah plan that may guide you:</p>
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th>No. of Classes</th>
                                    <th>Verses to be memorized by class</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>30 Classes</td>
                                    <td>One Juz’</td>
                                </tr>
                                <tr>
                                    <td>60 Classes</td>
                                    <td>Hizb (half of Juz’)</td>
                                </tr>
                                <tr>
                                    <td>80 Classes</td>
                                    <td>Three quarters of Juz’</td>
                                </tr>
                                <tr>
                                    <td>120 Classes</td>
                                    <td>Two Rub’s (two quarters of Juz’)</td>
                                </tr>
                                <tr>
                                    <td>240 Classes</td>
                                    <td>One Rub’ (quarter of Juz’)</td>
                                </tr>
                                <tr>
                                    <td>600 Classes</td>
                                    <td>One page</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="image-content">
                        <img src="/images/Ijaza program.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>

