<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>One Juz'/Surah </title>
    <link rel="stylesheet" href="/css/courses.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
     
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Memorize One Juz'/Surah of the Quran: A Beginner's Guide</h1>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>Choose the surah or part of the Quran that you want to memorize and perfect your recitation. Your instructor will also provide a review of the meaning and interpretations of the surah or Juz' that you are memorizing.</p>
                    </div>
                    <div class="image-content">
                        <img src="/images/Quran Surah title.jpg" alt="Quran Surah title" loading="lazy">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>

