

<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Quran Memorization</title>
    <link rel="stylesheet" href="/css/courses.css">

</head>

<body>
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
    <!-- Light Section -->
    <section>
        <div class="container">
            <h2>Quran Memorization</h2>
            <h3>Memorize the Quran Effortlessly with Waraqa's Courses</h3>
        </div>
    </section>

    <!-- Dark Section -->
    <section class="dark-section">
        <div class="container section-content">
            <div class="image-content">
                    <img src="/images/Quran recitation circle.jpg" alt="">
                </div>
                <div class="text-content">
                    <p>This course offers:<br>

                        Precise memorization of the Quran<br>
                        Understanding the general meanings of the studied verses, and<br>
                        Knowing the historical context of and references in these verses<br> We will help you to memorize the Quran in an easy way through the connections between verses. Your daily prayers will be elevated by new verses, the meanings of which will be clear to you as you recite them, enhancing the serenity of your prayer and your consciousness of Allah.</p>
                </div>
            </div>

    </section>


</main>
    <!-- Footer Section (Dark) -->
    <footer>
        <%- include('../../Layout/footer'); %>
    </footer>
</body>
</html>
