<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Short Surahs</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Short Surahs</h1>
                <h3>Start Your Quran Memorization with Waraqa's Short Surahs Course</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>In this course you will memorize the second half of Juz' 30 of the Quran. Your instructor will correct your pronunciation of each verse and help you perfect the recitation of each  surah. This course  includes five revisions?? as well as two exams to assess memorization quality. In each class, you will review each surah already memorized in order to maintain what you have learned.</p>
                    </div>
                    <div class="image-content">
                        <img src="/images/kids at a Quran school.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Course Outline</h4>
                        <p>In this course you will memorize the second half of Juz' 30 of the Quran. Your instructor will correct your pronunciation of each verse and help you perfect the recitation of each  surah. This course  includes five revisions?? as well as two exams to assess memorization quality. In each class, you will review each surah already memorized in order to maintain what you have learned.</p>
                        <ul>
                            <li>space</li>

                     </ul>
                    </div>
                    <div class="image-content">
                        <img src="/images/a page from Mushaf.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>

