<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('Layout/head') %>
    <!-- Page-specific title -->
    <title>About</title>
    <!-- Link to the custom admin CSS for styling -->
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header Section -->
    <header>
        <%- include('Layout/header') %>
    </header>
    <main>
    <!-- Light Section: About Us -->
    <section>
        <div class="container">
            <h2>About Us</h2>
            <h3>Get to Know Waraqa and Our Mission to Spread Islamic Knowledge.</h3>
        </div>
    </section>

    <!-- Dark Section -->
    <section class="dark-section">
        <div class="container">
            <div class="about-content">
                <div class="thumbnail">
                    <img src="/images/About_page (1).jpg" alt="A quran reader with a kid.">
                </div>
                <div class="about-text">
                    <p>At Waraqa, our mission is to empower Muslims worldwide with comprehensive and quality education in Quran and Arabic. We firmly believe that the Quran is the ultimate source of guidance for all humanity and it is our duty to make its teachings easily accessible to all.  <br> <br>
                        Our team comprises of a group of highly qualified and experienced teachers who are graduates of Al-Azhar University, the most prestigious Islamic institution in the world, and hold Ijazah, a Quran recitation license. Since 2020, we have brought together a group of Azhari colleagues and graduates of the Islamic Studies in English section, to assist Muslims in practicing good habits and good practices of Islam.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Light Section -->
    <section class="light-section">
        <div class="container">
            <div class="about-content">
                <div class="about-text">
                    <p>We offer a wide range of Quran and Arabic classes, catering to students of all levels, from beginners to advanced. Our teachers are well-versed in teaching Tajweed and Quranic Arabic and are dedicated to helping students understand the Quran and its message, which is crucial to leading a fulfilling life as a Muslim. <br> <br>
                        Our online Quran school provides flexible and convenient learning options for students of all ages. As a small group of Azhari colleagues and graduates of the Islamic Studies in English section, we began our journey in 2020, and have since then established an online Quran school that offers Quran recitation, Tajweed, and Quranic Arabic classes to students of all levels and ages.</p>
                    </div>
                    <div class="thumbnail">
                        <img src="/images/About_page (2).jpg" alt="A quran reader with a kid.">
                    </div>
            </div>
        </div>
    </section>

       <!-- Dark Section: Why Choose Us -->
       <section class="dark-section">
        <div class="container">
            <div class="about-content">
                <div class="thumbnail">
                    <img src="/images/About_page (3).jpg" alt="A quran reader with a kid.">
                </div>
                <div class="about-text">
                    <p>In addition to our Quran and Arabic classes, we also offer an array of online courses such as tajweed, facts about Islam, and other Islamic studies. Our teachers are highly knowledgeable and experienced in teaching Quranic Arabic, tajweed, and other Quranic sciences.<br> <br>
                        At Waraqa, we place a high value on education and community. We are committed to providing top-notch education to our students and making a positive impact on our community by providing actual work opportunities for our teachers and staff to support their families.<br> <br>
                        Our teachers are experts in Quran recitation and can recite and teach Quran with more than one Qiraah up to the 10 qiraat. We are dedicated to providing the best education to our students and to helping them understand the Quran and its message in the most effective way possible.</p>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer Section -->
<footer>
    <%- include('Layout/footer') %>
</footer>
</body>
</html>