<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('Layout/head') %>
    <!-- Page-specific title -->
    <title>Book Evaluation</title>
    <!-- Link to the custom admin CSS for styling -->

</head>

<body>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    <header>
        <%- include('Layout/header') %>
    </header>

    <main>
      <script type="text/javascript" src="https://form.jotform.com/jsform/230323546168555"></script>
    </main>


</body>
</html>
