<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('Layout/head') %>
    <!-- Page-specific title -->
     <title>Book Evaluation</title>
     <link rel="stylesheet" href="/css/index.css">
    
</main>
    <!-- Include header -->
    <header>
        <%- include('Layout/header') %>
    </header>
    <!-- Include Jotform -->
    <script type="text/javascript" src="https://form.jotform.com/jsform/230323546168555"></script>

</body>
</html>