<!DOCTYPE html>
<html>
<head>
    <!-- Include the head template -->
    <%- include('Layout/head') %>
    <!-- Page-Specific Title -->
    <title>Register Student</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Header Section -->
    <header>
        <%- include('Layout/header') %>
    </header>

    <main>
      <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/waraqa/30min" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
    </main>
  
</body>
</html>
