<!DOCTYPE html>
<html>

<head>
    <!-- Page-Specific Title -->
    <title>Not found| Waraqa</title>
    <!-- Page-Specific Styles -->
    <link rel="stylesheet" href="/css/posts.css">
    <script src="/js/imageErrorHandler.js"></script>
</head>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/notfound.css">

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main>
        <div class="main-text">
            <h1>Sorry, the Page You're Looking for Doesn't Exist!</h1>
            <h3>ERROR CODE: 404</h3>
            <a href="/">Go Home</a>
        </div>
        <div class="main-image">
            <img src="/images/404.png" alt="Page Not Found" loading="lazy">
        </div>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('Layout/footer') %>
    </footer>
</body>
</html>