<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('Layout/head') %>
    <!-- Page-Specific Title -->
    <title>About</title>
    <!-- Page-Specific Styles -->
    <link rel="stylesheet" href="/css/pricing.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Header Section -->
    <header>
        <%- include('Layout/header') %>
    </header>
    <main>
    <section>
        <div class="container">
            <h2>Pricing</h2>
            <h3>Best Quality at Affordable Waraqa Course Prices</h3>
        </div>
    </section>
    <section>
        <div>

        </div>
        
        <div class="content-wrapper">
            <div class="thumbnail">
                <img src="/images/10USD.png" alt="10 USD/Hour" loading="lazy">
            </div> 
            <div class="text-content">
                <ul>
                    <li>High quality instruction with clear curriculum and advancement.</li>
                    <li>Periodic evaluation and progress report.</li>
                    <li>Easy and secure means of payment.</li>
                    <li>Easy to access from home.</li>
                    <li>Flexible class scheduling.</li>
                    <li>Competitive pricing rates.</li>
                    <li>All teachers have earned degrees from Al-Azhar or equally prestigious institutions.</li>
                    <li>All teachers are bilingual with fluency in English and native Arabic proficiency.</li>
                    <li>All teachers use teaching methods trained and certified by Waraqa.</li>
                    <li>Female and male teachers available according to your preference.</li>
                    <li>Personable teachers appropriate for all ages.</li>
                    <li>Well-developed curricula with clear milestones.</li>
                </ul>
            </div>

</section>
</main>

<!-- Footer Section -->
<footer>
    <%- include('Layout/footer') %>
</footer>
</body>
</html>