<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Arabic Language</title>
    <link rel="stylesheet" href="/css/courses.css">

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
    <!-- Light Section -->
    <section>
        <div class="container">
            <h2>Arabic Language</h2>
            <h3>Improve Your Arabic Language Skills with Waraqa's Courses</h3>
        </div>
    </section>

    <!-- Dark Section -->
    <section class="dark-section">
        <div class="container section-content">
            <div class="image-content">
                    <img src="/images/Eastern-Window-design.jpg" alt="">
                </div>
                <div class="text-content">
                    <p>Whether you want to improve your Quran recitation or speak Arabic, we have an online course for you. This suite of courses offers study at several levels of proficiency:<br>

                        Arabic for Beginners: We will start from the very beginning in this course. Students will learn the Arabic alphabet and by the end of this course students will be able to read words by understanding how each letter appears in its connected form and will be able to write words that they hear spoken.<br>
                        
                        Intermediate Arabic: Through this course, students will broaden their vocabulary and increase comprehension by reading texts, listening to audio recordings, and watching videos in Arabic. By the end of this course, students will be able to competently speak and understand conversational Arabic.<br>
                        
                        Advanced Arabic:  This course is for the conversational Arabic speaker who wants to improve their reading, writing or speaking skills.  Our teachers can assist you in developing your Arabic language skills for business, technical or scholarly applications.  <br>
                        
                        <br>These classes will ensure that students speak, understand, read and write in Arabic confidently and correctly. Teachers are all Arabic native speakers and scholars of Arabic grammar, literature and poetry.</p>
                </div>
            </div>

    </section>


</main>
    <!-- Footer Section (Dark) -->
    <footer>
        <%- include('../../Layout/footer'); %>
    </footer>
</body>
</html>
