<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Arabic Basics</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Arabic Basics</h1>
                <h3>Start Your Arabic Language Journey with Waraqa's Basics Course</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>This Arabic course covers fundamental vocabulary and grammar for everyday conversations. You will be able to ask and answer simple questions, greet others, and introduce yourself to others by the end of this course. You will also be able to write and speak Arabic through learning the basic rules of syntax. </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Course Outline</h4>
                        <ul>
                            <li>التحية والتعارف - Greeting and acquaintance</li>
                            <li>الأسرة - Family</li>
                            <li>السّــكن - Housing</li>
                            <li>الطعام والشراب - Food and drink</li>
                            <li>الصلاة - Prayer</li>
                            <li>الدراسة - Study</li>
                            <li>العمل - Work</li>
                            <li>التسوق - Shopping</li>
                            <li>الجو - Weather</li>
                            <li>الناس والأماكن - People and places</li>
                            <li>الهوايات - Hobbies</li>
                            <li>السفر - Travelling</li>
                            <li>الحج والعمرة - Hajj and Umrah</li>
                            <li>الصحة - Health</li>
                            <li>العطلة - Holiday</li>
                            <li>مدينتي جميلة - My city is beautiful</li>
                            <li>غذائي مفيد - My food is useful</li>
                            <li>جسمي سليم - My body is healthy</li>
                        </ul>
                    </div>
                    <div class="image-content">
                        <img src="/images/a-female-arabic-teacher.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>
