<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Classical Arabic</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Classical Arabic</h1>
                <h3>Study Classical Arabic with Waraqa's Advanced Course</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>Classical Arabic,also called "Mutoon,” is a traditional form of the language used in classical texts and scholarly works.  The study of Classical Arabic will help you to read and understand these important works"Mutoon"is taught through an understanding of Alfiyt Bin Malik in syntax and morphology, Dala'il al I'Jaz in rhetoric, and Al Kamel Fi al-Adab in literature. We will guide your study of the Arabic classics  in an easy-to understand way. Students in this course may also select a work  of their choice to read and examine with their instructor.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Books</h4>
                        <ul>
                            <li>Alfiyt Bin Malik in syntax and morphology</li>
                            <li>Dala'il al I'Jaz in rhetoric</li>
                            <li>Al Kamel Fi al-Adab in literature.</li>

                     </ul>
                    </div>
                    <div class="image-content">
                        <img src="/images/Public-Library.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>
