<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Intermediate Arabic</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Intermediate Arabic</h1>
                <h3>Advance Your Arabic Language Skills with Waraqa's Intermediate Course</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>This Arabic course improves the four language skills (listening, reading, speaking, and writing). You will be able to speak Arabic comfortably as you progress through more complex topics, vocabulary, and grammar rules. You will master fundamental grammar rules and  Arabic sentence structure.  </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Course Outline</h4>
                        <p>You will learn the verb and noun based sentence structure in addition to a list of vocabularies and expressions in different situations.</p>
                        <ul>
                            <li>عالم الحيوان - Animal world</li>
                            <li>التسلية - Having fun</li>
                            <li>الوقت - Time</li>
                            <li>أنواع الملابس - Clothes</li>
                            <li>الحياة في المدينة - Life in the city</li>
                            <li>العلم والتعلم - Knowledge and learning</li>
                            <li>المهن - Professions</li>
                            <li>اللغة العربية - Arabic language</li>
                            <li>الجوائز - Prizes</li>
                            <li>العالم قرية صغيرة - World is a small village</li>
                            <li>النظافة - Cleanliness</li>
                            <li>الإسلام - Islam</li>
                            <li>الشباب - Youth</li>
                        </ul>
                    </div>
                    <div class="image-content">
                        <img src="/images/arabic language vector.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>
