<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Upper intermediate Arabic </title>
    <link rel="stylesheet" href="/css/courses.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
     
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Upper intermediate Arabic</h1>
                <h3>Elevate Your Arabic Language Skills with Waraqa's Upper Intermediate Course</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>This course introduces you to more specialized grammar and vocabulary. You will see how many Arabic words are constructed from a common root and how they can be measured by pure linguistic measurements (al-Mizan al-Sarfi). This course will prepare you to read and understand the formal language of books and newspapers. It covers a wide range of subjects in Arabic, such as syntax, morphology, literature, rhetoric, reading, and writing. The vocabulary and idioms taught are both typical, as well as specialized and formal as necessary to meet your needs and usage. This level is intended to prepare you for our classical Arabic level.</p>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Course Outline</h4>
                        <p>Most importantly, you will be able to express yourself in the most common situations and also discuss more specialized topics.</p>
                        <ul>
                            <li>المعجزة الخالدة - The eternal miracle</li>
                            <li>يوم في حياة ناشئ - A day in a junior's life</li>
                            <li>أقلياتنا في العالم - Our minorities around the world</li>
                            <li>السنة النبوية - Prophetic Sunnah</li>
                            <li>الأطفال والقراءة - Children and reading</li>
                            <li>هجرة العقول - Brain drain</li>
                            <li>طاب نومكم طاب يومكم - Good sleeping, good day</li>
                            <li>نوادر وطرائف - Anecdotes and jokes</li>
                            <li>المساوات الحقة - Real equity</li>
                            <li>الرفق بالحيوان - Animal welfare</li>
                            <li>الأمثال العربية - Arabic proverbs</li>
                            <li>الخلافات الزوجية - Marital disputes</li>
                            <li>العلاقة بين الآباء والأبناء - Parents and children relations</li>
                            <li>الماء أصل الحياة وسرها - Water as the secret of life</li>
                            <li>وصية أب - Father's commandment</li>
                            <li>من يوميات وليد - From Walid's diary</li>
                        </ul>
                    </div>
                    <div class="image-content">
                        <img src="/images/Names of ten founders of Arabic rules.jpeg" alt="Names of ten founders of Arabic rules" loading="lazy">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>
