<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Advanced Islamic studies</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Advanced Islamic studies</h1>
                <h3>Study Classical Islamic Studies books with Waraqa's Advanced Course</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>In this level, you may select a book or set of books in one or more of the following fields for in-depth study:Hadith, Fiqh, Tafsir and 'Aqidah. Your instructor can also help you to select a classical book or series of books you'd like to study with an Azhari scholar. Reading a classic book with a linguist is different from reading it on your own. We will make sure that the old books' knowledge is introduced to you in an easy-to understand way.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Books</h4>
                        <ul>
                            <li>Fiqh as-Sunnah by Sayyid Sabiq</li>
                            <li>The Forty Hadiths of an-Nawawi</li>
                            <li>Quran interpretation by Ibn Kathir</li>
                            <li>Stories of the Prophets by Ibn Kathir</li>
                            <li>al-’Aqidah at-Tahawiyah by Abu Ja'far al-Tahawi</li>
                        </ul>
                        
                    </div>
                    <div class="image-content">
                        <img src="/images/bookshelf.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>
