<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Indisputably established facts of religion</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Indisputably established facts of religion</h1>
                <h3>Uncover the Indisputable Established Facts of Religion with Waraqa's Courses</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>Muslim children and new Muslims may wish to study Allah’s commands as they appear in the Qur’an and the scholarship derived from it. In the introductory level of Islamic Studies, students will learn the pillars of faith, Islamic ethics, short Quranic Surahs, and common Hadiths. The Muslim practices of Dhikr (the meditative recitation of the names or attributes of God), Sadaqah (charitable giving), and Prayer (including timings, conventions, postures, and recitation) will also be covered. Diversity and Muslim identity will be recurring themes. <br><br>
                            Waraqa instructors do not follow any specific trend or sect. At Al-Azhar University, we came to understand the complexity of Islam's diverse sources and theological and intellectual schools. We strive to provide students with a similar nuanced understanding of Islam.
                        </p>
                </div>
            </div>
        </section>
        <div class="studies-section">
            <div class="study-category">
                <img src="/images/kids with a teacher at mosque.jpeg" alt="Islamic Studies 1 Image">
                <h2>Islamic Studies 1</h2>
                <ul>
                    <li>How to Perform Wudhu</li>
                    <li>The Five Daily Prayers</li>
                    <li>Truthfulness</li>
                    <li>Kindness to Parents</li>
                    <li>Love for Your Brother What You Love for Yourself</li>
                    <li>Harming and reciprocating harm are not allowed</li>
                    <li>Allah protects the true believers</li>
                    <li>Surat al-Ikhlas</li>
                    <li>Dhikr and Du'aa</li>
                    <li>General Manners</li>
                </ul>
            </div>
        
            <div class="study-category">
                <img src="/images/a man leading two kids in prayer.jpg" alt="Islamic Studies 2 Image">
                <h2>Islamic Studies 2</h2>
                <ul>
                    <li>The Pillars of Iman</li>
                    <li>The Pillars of Islam</li>
                    <li>As-Sunan (recommended actions)</li>
                    <li>Actions are by intentions</li>
                    <li>Lying, Gossiping and Backbiting</li>
                    <li>The people of the "Cave"</li>
                    <li>Prophet Ayyub's story</li>
                    <li>Mariam, daughter of 'Imran</li>
                    <li>The advent of Islam (story)</li>
                    <li>How does paradise look like?</li>
                </ul>
            </div>
        
            <div class="study-category">
                <img src="/images/student with a teacher vector.png" alt="Islamic Studies 3 Image">
                <h2>Islamic Studies 3</h2>
                <ul>
                    <li>The rightly guided Caliphs</li>
                    <li>Brief history of schools of Fiqh (1)</li>
                    <li>Brief history of schools of Fiqh (2)</li>
                    <li>Ihsan in Islam "Perfection or Benevolence"</li>
                    <li>Methodology of collecting Quran</li>
                    <li>Explanation of Surat al-Fatihah</li>
                    <li>Hadith criticism criteria</li>
                    <li>Biography of non-Arab Muslim scholars</li>
                    <li>Biography of Imam al-Bukhari</li>
                    <li>Islamic branches of knowledge</li>
                </ul>
            </div>
        </div>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>
