<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>An Introduction to Islamic classical books</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>An Introduction to Islamic classical books</h1>
                <h3>Elevate Your Arabic Language Skills with Waraqa's Courses</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>This level covers a wide range of Islamic studies topics in different fields and branches of knowledge.  These include Tafseer (Quran interpretation), Hadith (Prophetic Sunnah), ‘Aqidah (Creed), Fiqh (Jurisprudence), Du’a (Supplication) Islamic history and prophets stories. Students will acquire a solid  foundation in Islamic texts and topics that will help you in the Advanced Islamic Studies level.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Books</h4>
                        <p>We teach this level from a twelve-book series published by Darussalam and authored by Maulvi Abdul Aziz, MA. English and Senior Administrative Officer in the Department of Private Education, Ministry of Education, Dubai, UAE, from 1982 to 2002.</p>
                    </div>
                    <div class="image-content">
                        <img src="/images/Islamic Studies.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>
