

<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Islamic Studies</title>
    <link rel="stylesheet" href="/css/courses.css">

</head>

<body>
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
    <!-- Light Section -->
    <section>
        <div class="container">
            <h2>Islamic Studies</h2>
            <h3>Expand Your Islamic Knowledge with Waraqa's Islamic Studies Courses </h3>
        </div>
    </section>

    <!-- Dark Section -->
    <section class="dark-section">
        <div class="container section-content">
            <div class="image-content">
                    <img src="/images/Mushaf on a holder.jpg" alt="">
                </div>
                <div class="text-content">
                    <p>In this area, students will work with Waraqa and its scholars to design a course which focuses on one or more of the following subjects:<br>

                        Fiqh: Students will learn the Islamic legal rulings regarding the different activities of daily living. Learn the rules governing prayer (salah), fasting (sawm), giving alms or charity (zakah), and pilgrimage (Hajj).<br>
                        
                        Hadith: Students will develop their knowledge of the prophetic traditions, including what Prophet Muhammad (pbuh) is said to have said or done in various situations.<br>
                        
                        Tafsir: Students will cultivate an understanding of the meanings of the Quran.  They will develop a familiarity with these meanings which will enhance their experience of prayer and recitation of the Quran.<br>
                        
                        Aqidah: Students will develop their relationship with Allah by considering what the Quran and Hadith tell us about the nature of the Divine.<br>
                        
                        Islamic History: Students will learn what we know about the lives of the prophet and his companions as well as early Islamic communities.</p>
                </div>
            </div>
        
    </section>


</main>

<!-- Footer Section -->
<footer>
    <%- include('../../Layout/footer') %>
</footer>
</body>
</html>
