<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Foundation Level</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Foundation Level</h1>
                <h3>Start Your Quran Recitation Journey with Waraqa's Foundation Level</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>You will learn the basics of Arabic reading using the Noor al-Bayan approach. By the end of this level, you will:</p>
                        <ul>
                            <li>Learn Arabic letters and sounds using Noor al-Bayan’s approach.</li>
                            <li>Recognize all of the different letter shapes at the beginning, middle, and end of the word.</li>
                            <li>Understand diacritics (marks placed above, below or near letters to indicate pronunciation) and how they affect letter pronunciation.</li>
                            <li>Understand the specific guidelines for pronouncing the end of an Arabic word.</li>
                            <li>Review letters with similar forms and sound to master writing and articulation.</li>
                            <li>Pass a final exam and receive a certificate of completion.</li>
                        </ul>
                    </div>
                    <div class="image-content">
                        <img src="/images/Arabic letter cubes.jpg" alt="Objectives image">
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>The Waraqa Approach</h4>
                        <p>At Waraqa, we begin by teaching standard letter forms as they appear in the beginning, middle, and end of written words, and helping students to master their correct pronunciation.</p>
                        <ul>
                            <li>Students have several opportunities to master letter forms.</li>
                            <li>Diacritics indicating vowels will be introduced one at a time, allowing students to master each one before moving on to the next.</li>
                            <li>Further diacritics indicating pronunciation and intonation will be introduced separately, allowing students to master each one before moving on to the next.</li>
                        </ul>
                    </div>
                    <div class="image-content">
                        <img src="/images/a kid writing.jpg" alt="Waraqa Approach image">
                    </div>
                </div>
            </div>
        </section>

        <!-- Course Outline Section -->
        <section class="course-section dark-section">
            <div class="container">
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Course Outline</h4>
                        <ul>
                            <li>Arabic alphabet</li>
                            <li>Arabic alphabet (Fathah)</li>
                            <li>Arabic alphabet (Kasrah)</li>
                            <li>Arabic alphabet (Dammah)</li>
                            <li>Medd letters (ا - و - ي)</li>
                            <li>Arabic alphabet (Tanween)</li>
                            <li>Arabic alphabet (Sukoon)</li>
                            <li>Lam Qamariyah (Voiced)</li>
                            <li>Sukoon practice</li>
                            <li>Shaddah with different Diacritics</li>
                            <li>Combined Shaddah, Diacritics, and Medd</li>
                            <li>Pronunciation of similar letters</li>
                        </ul>
                    </div>
                    <div class="image-content">
                        <img src="/images/a kid studing online.jpg" alt="Course Outline image">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>
