
<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Khatmah Program</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Khatmah Program</h1>
                <h3>Complete Your Quran Recitation with Waraqa's Khatmah Program</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>We will motivate you and correct your recitation till you have finished your Khatmah (recitation of the entire Quran from al-Fatihah until an-Nass). You can ask your teacher about the meanings of specific Quranic passages and context throughout your Khatmah. We will guide you through the duaa which was the sunnah of the Prophet Mohamed after you complete the Khatmah. <br><br>
                            Prophet Mohamed (Peace Be Upon im) said: <br><br>
                            "The person who completed the Quran and then made a supplication, four thousand angels will say Ameen to his supplication. You can do a Khatmah course along with one of the Quran recitation and memorization courses at the same time. " <br><br>
                            In Sunan Ad-Darimi
                        </p>
                    </div>
                    <div class="image-content">
                        <img src="/images/a man reciting Quran.jpg" alt="a man reciting Quran" loading="lazy">
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Course outline:</h4>
                        <p>You will start reciting from either Juz’ 1 to 30 or backwards from Juz’ 30 to 1, so that you begin with the shorter surahs.. The speed of your progress through the Quran will vary according to your schedule of classes, your capacity and how much your recitation requires correcting. Here’s a table of one Khatmah plan that may guide you:</p>
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th>No. of Classes</th>
                                    <th>Reading to do for Each Class</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>30 Classes</td>
                                    <td>One Juz’</td>
                                </tr>
                                <tr>
                                    <td>60 Classes</td>
                                    <td>Hizb (half of Juz’)</td>
                                </tr>
                                <tr>
                                    <td>80 Classes</td>
                                    <td>Three quarters of Juz’</td>
                                </tr>
                                <tr>
                                    <td>120 Classes</td>
                                    <td>Two Rub’s (two quarters of Juz’)</td>
                                </tr>
                                <tr>
                                    <td>240 Classes</td>
                                    <td>One Rub’ (quarter of Juz’)</td>
                                </tr>
                                <tr>
                                    <td>600 Classes</td>
                                    <td>One page</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        
                    </div>
                    <div class="image-content">
                        <img src="/images/Mushaf and Misbaha.jpg" alt="Mushaf and Misbaha" loading="lazy">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>
