<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Pre-reading Level</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Pre-reading Level</h1>
                <h3>Take Your Quran Recitation to the Next Level with Waraqa's Pre-Reading Course</h3>
                
                <!-- Objectives Section -->
                <div class="container">
                    <div class="section-content image-left">
                        <div class="text-content">
                            <h4>Objectives</h4>
                            <p>If you know Arabic letters and diacritics but still make mistakes in reading Arabic words, this course is best fit for you. In this course you will learn to read with greater fluency.  We will focus on topics such as silent and voiced letters and sounds, pronouncing the end of a word correctly and how to divide words into syllables for easier reading.</p>
                            <h4>Books</h4>
                            <p>We use Noor al-Bayan and Al-Futuhat Ar-Rabbaniyah books in teaching this level.</p>
                        </div>
                        <div class="image-content">
                            <img src="/images/student with a teacher vector.png" alt="space">
                        </div>
                    </div>
                </div>
        </section>

        <!-- Course Outline Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Course Outline</h4>
                        <ul>
                            <li>Lam Qamariyah (Voiced)</li>
                            <li>Lam Shamsiah (Silent)</li>
                            <li>Stoppage on Tanween and circled Taa</li>
                            <li>Revision</li>
                            <li>Shaddah  with Tanween</li>
                            <li>Stoppage on Qalqalah or Ghunnah</li>
                            <li>Double Sakin letters</li>
                            <li>Divide the word into syllables</li>
                        </ul>
                    </div>
                    <div class="image-content">
                        <img src="/images/Two girls palying with Arabic letters.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>


