
<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Qari Level</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Qari Level</h1>
                <h3>Become a Qari with Waraqa's Advanced Quran Recitation Course</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>This  is an advanced Tajweed course that covers all Tajweed rules in an easy-to-understand manner. It begins by defining and explaining articulation sites and letter characteristics; you will learn from where and how to articulate each letter. You will also master  the rules of the Noon Sakinah and the Meem Sakinah as well as the rules for medd (stretching) and waqf (pause and start). This level consists of a variety of theoretical and practical exercises, revisions, and exams that ensure your eligibility for the "Ijazah" License (the most advanced level of Quran recitation and memorization).</p>
                        <ul>
                            <li>Learn the theory and practice of all the Tajweed rules.</li>
                            <li>Perfect the pronunciation of Quranic letters, syllables, words, and phrases.</li>
                            <li>Recognize the acceptable and prohibited pauses and connections in the recitation.</li>
                            <li>Recognize the relationships between letters when they follow each other.</li>
                            <li>Study the motoon (classical poems composed by the founders of this knowledge).</li>
                            <li>Discuss the important points of the different Qiraat (recitations).</li>
                          </ul>
                          
                    </div>
                    <div class="image-content">
                        <img src="/images/a man by a mosque gate.jpg" alt="spaa man by a mosque gatece" loading="lazy">
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Course outline:</h4>
                        <ul>
                            <li>Makharej al-Huruf</li>
                            <li>Sifat al-Huruf</li>
                            <li>Noon Sakinah</li>
                            <li>Meem Sakinah</li>
                            <li>Mudood</li>
                            <li>Al waqf-wal-Ibtida</li>
                            <li>Isti'adha and Basmallah</li>
                            <li>Hamzat-ul-wasl and Lamat</li>
                          </ul>
                          
                    </div>
                    <div class="image-content">
                        <img src="/images/Mushaf on a holder.jpg" alt="Mushaf on a holder" loading="lazy">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>