

<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Quran Recitation</title>
    <link rel="stylesheet" href="/css/courses.css">

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
     
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
    <!-- Light Section -->
    <section>
        <div class="container">
            <h2>Quran Recitation</h2>
            <h3>Enhance Your Quran Recitation Skills with Waraqa's Courses</h3>
        </div>
    </section>

    <!-- Dark Section -->
    <section class="dark-section">
        <div class="container section-content">
            <div class="image-content">
                <img src="/images/Quran verse.jpg" alt="Quran verse image" loading="lazy">
            </div>
            <div class="text-content">
                <p>Muslims understand the Quran to be the literal word of Allah delivered to His last Prophet and Messenger, Prophet Muhammad (peace be upon him), through Angel Gabriel. For a Muslim, this is the ultimate source of authority.<br><br>
    
                    In our Quran Recitation with Tajweed course, you will: <br>
                    <ul>
                    <li>Learn to Recite Quran</li>
                    <li>Study Tajweed (correct recitation and pronunciation of the Qur’an)</li>
                    <li>Seek an Ijazah (diploma establishing your competency)</li>
                    <li>Study the meanings of Quranic verses</li>
                </ul>
                    Topics covered will include introduction to the study of Quran, noon sakinah and tanween, meem sakinah, medd, and different methods of recitation. The central goal of this course is to enable the student to recite the Quran accurately. In order to achieve this goal, the student will complete a set number of practice hours with their teacher available to offer corrections and guide the student’s progress.</p>
            </div>
        </div>
    </section>
</main>

<!-- Footer Section -->
<footer>
    <%- include('../../Layout/footer') %>
</footer>
</body>
</html>
