<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Tajweed Basics</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Tajweed Basics</h1>
                <h3>Learn the Fundamentals of Tajweed with Waraqa's Course</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>Tajweed rules are not complicated when you learn with Waraqa instructors. If you study the simple list of topics we prepare for you, you will be able to recite the Quran properly with ease. This is a concise but comprehensive course which can be modified to meet students where they are.  It is appropriate for those who haven't studied Tajweed before, have studied but have not mastered recitation who have forgotten what you have studied. This course covers all Tajweed rules to correct any errors  in your recitation. You will:</p>
                        <ul>
                            <li>Identify and correct common mistakes in recitation.</li>
                            <li>Develop a comprehensive understanding of Tajweed mechanisms.</li>
                            <li>Study and master each Tajweed rule.</li>
                            <li>Apply Tajweed rules by reviewing them in the context of Quranic Surahs.</li>
                            <li>Qualify for the next Tajweed level (the Qari program).</li>
                          </ul>

                    </div>
                    <div class="image-content">
                        <img src="/images/About_page (1).jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Course Outline</h4>
                        <p>space</p>
                        <ul>
                            <li>Introduction to Tajweed rules</li>
                            <li>Rules of Noon and Meem Mushaddad</li>
                            <li>Qalqalah</li>
                            <li>Heavy Letters</li>
                            <li>Light Letters</li>
                            <li>Laam in the Exalted Name of Allah</li>
                            <li>Ruling of Ra’ letter: heavy or light</li>
                            <li>Noon Sakinah and Tanween</li>
                            <li>Meem Sakinah</li>
                          </ul>
                    </div>
                    <div class="image-content">
                        <img src="/images/Mushaf on a holder.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>

        <!-- Course Outline Section -->
        <section class="course-section dark-section">
            <div class="container">
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Class routine</h4>
                        <p>You will start your session by reviewing the assignment and discussing it. Then you will have an interactive explanation of the new Tajweed rules with examples. Your instructor will be answering all of your questions and then assist you in reciting Quranic verses which apply the new rule along with rules already mastered.</p>
                        
                    </div>
                    <div class="image-content">
                        <img src="/images/a kid studing online.jpg" alt="space">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>

