
<!DOCTYPE html>
<html>

<head>
    <!-- Include the head template -->
    <%- include('../../Layout/head') %>
 
    <title>Tajweed Intermediate</title>
    <link rel="stylesheet" href="/css/courses.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB7DNKPL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
     
    <!-- Header Section -->
    <header>
        <%- include('../../Layout/header'); %>
    </header>
    <main>
        <!-- Light Section -->
        <section class="course-section dark-section">
            <div class="container">
                <h1>Tajweed Intermediate</h1>
                <h3>Take Your Tajweed Skills to the Next Level with Waraqa's Intermediate Course</h3>
                
                <!-- Objectives Section -->
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Objectives</h4>
                        <p>Objectives

                            If you have covered all topics in the Waraqa Basic Tajweed level, then it is time to learn the “Medd rules”. By the end of this course you will know the unique Quranic Medd rules. Unlike the Conversational Arabic, the Quran has its own long and short vowels that should be considered while reciting it. You will discuss these rules and learn how to apply them.</p>
                    </div>
                    <div class="image-content">
                        <img src="/images/Medd letters.jpg" alt="Medd letters" loading="lazy">
                    </div>
                </div>
            </div>
        </section>

        <!-- The Waraqa Approach Section -->
        <section class="course-section light-section">
            <div class="container">
                <div class="section-content image-left">
                    <div class="text-content">
                        <h4>Course outline</h4>
                        <ul>
                            <li>Meddd Tabee</li>
                            <li>Meddd Leen</li>
                            <li>Medd Badal</li>
                            <li>Medd Wajib Muttasil</li>
                            <li>Medd Jae'z Munfasil</li>
                            <li>Medd Aridh Lissukun</li>
                            <li>Meddd Leen</li>
                            <li>Medd Laazim Kalimi</li>
                            <li>Medd Laazim Harfee</li>
                            <li>Medd Silah</li>
                            <li>Medd Ewad</li>
                            <li>Medd Tamkeen</li>
                        </ul>                        
                    </div>
                    <div class="image-content">
                        <img src="/images/a kid refering to a whiteboard.jpg" alt="a kid refering to a whiteboard" loading="lazy">
                    </div>
                </div>
            </div>
        </section>

        <!-- Course Outline Section -->
        <section class="course-section dark-section">
            <div class="container">
                <div class="section-content image-right">
                    <div class="text-content">
                        <h4>Course importance</h4>
                        <p>Although many Muslims have heard and learned Medd before, its mastery  remains one of the most challenging aspects of recitation and it is what distinguishes the best of Qur’anic recitations. Only those who are properly trained can teach the proper application of Medd. </p>
                    </div>
                    <div class="image-content">
                        <img src="/images/Islamic decoration.png" alt="Islamic decoration" loading="lazy">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <%- include('../../Layout/footer') %>
    </footer>
</body>
</html>

